<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InMotion Hosting Automation Suite" parallel="false" verbose="1">
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="com.inmotion.automation.runners.TestRunner"/>
        </classes>
    </test>
</suite>
